.menu {
  height: 100vh;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  z-index: 3;
  display: block;
  width: 100%;
  background: #8b845e;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(139, 132, 94, 0.0200455)), color-stop(24%, #e3e1db));
  background: linear-gradient(0deg, rgba(139, 132, 94, 0.0200455) 0%, #e3e1db 24%);
}

.menu__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu__item:visited, .menu__item:active, .menu__item:hover {
  text-decoration: none;
  color: #2E2A2C;
}

.menu__item {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #2E2A2C;
  position: relative;
  padding-bottom: 3px;
  margin: 30px;
}

.menu__item--button {
  display: inline-block;
  background-color: #FDB461;
  color: #3E2203;
  border: #3E2203 solid 1.5px;
  font-size: 1rem;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
  margin: 30px;
}

.menu__item--button:hover {
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border: #3E2203 solid 1.5px;
  color: #2E2A2C;
  text-decoration: none;
  outline-style: none;
}

.menu__link {
  text-decoration: none;
  color: #3E2203;
}

.menu__link:hover {
  color: #3E2203;
  text-decoration: none;
}

.menu__item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2E2A2C;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header {
  background-color: transparent;
  position: relative;
  z-index: 5;
  margin: 0 auto;
}

.header__content {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__description {
  font-size: 1.2rem;
  margin-top: 3px;
  padding-left: 10%;
}

.header__menu {
  padding-right: 10%;
}

.header__hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.header__top, .header__middle, .header__bottom {
  width: 100%;
  height: 5px;
  background-color: #000;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.change .header__top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
          transform: translateY(10px) translateX(0) rotate(45deg);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.change .header__middle {
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.change .header__bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
          transform: translateY(-10px) translateX(0) rotate(-45deg);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins light", sans-serif;
  font-size: 16px;
}

.global {
  background-image: url("./images/global_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.global__container {
  max-width: 1440px;
  margin: 0 auto;
}

.show {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

.hide {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .hero {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__content {
  max-width: 550px;
  padding-top: 50px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0 20px;
}

@media (min-width: 1200px) {
  .hero__content {
    margin: 10%;
  }
}

.hero__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .hero__title {
    font-weight: 500;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
  }
}

.hero__description {
  text-align: justify;
  line-height: 1.6;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .hero__description {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

.hero__button {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  .hero__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero__filled, .hero__unfilled {
  display: block;
  font-size: 1rem;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
  outline-style: none;
  position: relative;
  z-index: 5;
  outline-style: none;
}

.hero__filled {
  background-color: #FDB461;
  color: #3E2203;
}

@media (min-width: 576px) {
  .hero__filled {
    margin-right: 50px;
  }
}

.hero__filled:hover {
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: solid 2px #3E2203;
}

.hero__unfilled {
  background-color: transparent;
  color: #FDB461;
  border: #3E2203 solid 2px;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .hero__unfilled {
    margin-top: 0;
  }
}

.hero__unfilled:hover {
  background-color: #FDB461;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__link {
  text-decoration: none;
  color: #3E2203;
}

.hero__link:hover {
  color: #3E2203;
  text-decoration: none;
}

.about {
  width: 100%;
  letter-spacing: 0.5px;
}

@media (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__img {
  width: 100%;
  padding: 70px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .about__img {
    display: none;
  }
}

.about__img-medium {
  display: none;
}

@media (min-width: 768px) {
  .about__img-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 70px 0 30px 0;
  }
}

@media (min-width: 1200px) {
  .about__img-medium {
    display: none;
  }
}

.about__img-large {
  display: none;
}

@media (min-width: 1200px) {
  .about__img-large {
    display: block;
    width: 50%;
    margin-left: 10%;
  }
}

.about__img-large--reverse {
  display: none;
}

@media (min-width: 1200px) {
  .about__img-large--reverse {
    display: block;
    width: 50%;
    padding-top: 160px;
    margin: 0;
  }
}

.about__container {
  margin: 0 10px;
}

@media (min-width: 1200px) {
  .about__container {
    width: 50%;
    margin-right: 10%;
    padding-top: 100px;
  }
}

.about__container--reverse {
  margin: 0 10px;
}

@media (min-width: 1200px) {
  .about__container--reverse {
    width: 50%;
    margin: 0 10%;
    padding-top: 300px;
  }
}

.about__content {
  text-align: justify;
  font-weight: 300;
  margin: 0 20px;
}

.about__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #EAEAEA;
  text-shadow: 0.5px 0.5px #2E2A2C;
}

@media (min-width: 768px) {
  .about__title {
    font-weight: 400;
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .about__title {
    font-weight: 500;
    font-size: 2.5rem;
    margin: 20px;
  }
}

@media (min-width: 1200px) {
  .about__title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
  }
}

.about__description {
  text-align: justify;
  line-height: 1.6;
  padding-bottom: 20px;
  color: #EAEAEA;
  text-shadow: 0.5px 0.5px #2E2A2C;
}

@media (min-width: 992px) {
  .about__description {
    font-weight: lighter;
    line-height: 1.5;
    font-size: 1.1rem;
  }
}

.about__link {
  display: inline-block;
  padding-top: 40px;
  text-transform: uppercase;
  color: #FDB461;
  text-shadow: 0.5px 0.5px #2E2A2C;
  margin-left: 20px;
  padding-bottom: 5px;
  width: 100%;
}

.about__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #FDB461;
}

.about__comment {
  padding-top: 60px;
  margin: 0 20px;
}

@media (min-width: 768px) {
  .about__comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__text {
  max-width: 550px;
  height: 50px;
  color: #EAEAEA;
  font-size: 0.9rem;
  line-height: 1.3;
  text-shadow: 0.5px 0.5px #2E2A2C;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.4px;
  padding-top: 10px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .about__text {
    margin-left: 20px;
  }
}

.about__signature {
  color: #EAEAEA;
  font-size: 0.8rem;
  text-shadow: 0.5px 0.5px #2E2A2C;
  font-style: italic;
  padding-top: 10px;
  font-weight: 100;
  opacity: 0.7;
  margin: 20px;
}

@media (min-width: 768px) {
  .about__signature {
    display: block;
    width: 100%;
    -ms-flex-line-pack: left;
        align-content: left;
    margin: 0 auto;
    padding-left: 100px;
  }
}

@media (min-width: 992px) {
  .about__signature {
    margin-top: 10px;
  }
}

.service {
  width: 100%;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .service {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service__content {
  max-width: 550px;
  padding-top: 50px;
  margin: 0 20px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

@media (min-width: 1200px) {
  .service__content {
    margin: 10%;
  }
}

.service__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #EAEAEA;
  text-shadow: 0.5px 0.5px #2E2A2C;
}

@media (min-width: 768px) {
  .service__title {
    font-weight: 400;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .service__title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
  }
}

.service__description {
  text-align: justify;
  line-height: 1.6;
  padding-bottom: 20px;
  color: #EAEAEA;
  text-shadow: 0.5px 0.5px #2E2A2C;
}

.service__button {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  .service__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.service__filled {
  margin-bottom: 20px;
  display: block;
  font-size: 1rem;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
  outline-style: none;
}

.service__filled {
  background-color: #FDB461;
  color: #3E2203;
  border: #FDB461 solid 1.5px;
}

@media (min-width: 576px) {
  .service__filled {
    margin-right: 50px;
  }
}

.service__filled:hover {
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service__link {
  text-decoration: none;
  color: #3E2203;
}

.service__link:hover {
  color: #FDB461;
  text-decoration: none;
}

.footer {
  padding-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__description {
  font-weight: 300;
  color: #EAEAEA;
  opacity: 0.6;
  margin-left: 20px;
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.carousel {
  max-width: 1200px;
  margin: 150px auto 0;
}

.carousel__img {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 70%;
}

.carousel-indicators li {
  width: 20px;
  height: 8px;
}

.home {
  background-image: url("./images/subpage_background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media (min-width: 1200px) {
  .home {
    background-image: none;
    background-color: #D7E6E0;
  }
}

.home__container {
  max-width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .home__container {
    margin: 0 10%;
  }
}

.home__content {
  width: 100%;
  padding-top: 50px;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 10%;
}

@media (min-width: 1200px) {
  .home__content {
    margin: 0;
    padding-right: 20px;
  }
}

.home__title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;
  margin: 15px 0;
}

@media (min-width: 576px) {
  .home__title {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .home__title {
    font-size: 4rem;
    line-height: 1.2;
  }
}

@media (min-width: 1200px) {
  .home__title {
    position: absolute;
    font-size: 5rem;
    margin-top: 30px;
  }
}

.home__description {
  text-align: justify;
  line-height: 1.6;
  padding: 30px 0;
  font-weight: 300;
}

@media (min-width: 576px) {
  .home__description {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .home__description {
    margin: 200px 30px 0 0;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

.home__img {
  display: none;
}

@media (min-width: 1200px) {
  .home__img {
    height: 100%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0px;
  }
}

.home__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  width: 60px;
  height: 30px;
  font-weight: lighter;
  position: relative;
}

.home__button::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2E2A2C;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.home__button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.home__link {
  text-decoration: none;
  color: #2E2A2C;
}

.home__link:hover {
  color: #2E2A2C;
}

.volunteer {
  background-image: url("./images/subpage2_background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media (min-width: 1200px) {
  .volunteer {
    background-image: none;
    background-color: #D7E6E0;
  }
}

.volunteer__container {
  max-width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .volunteer__container {
    margin: 0 10%;
  }
}

.volunteer__content {
  width: 100%;
  padding-top: 50px;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 10%;
}

@media (min-width: 1200px) {
  .volunteer__content {
    margin: 0;
    padding-right: 20px;
  }
}

.volunteer__title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;
  margin: 15px 0;
}

@media (min-width: 576px) {
  .volunteer__title {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .volunteer__title {
    font-size: 4rem;
    line-height: 1.2;
  }
}

@media (min-width: 1200px) {
  .volunteer__title {
    position: absolute;
    font-size: 4.7rem;
    margin-top: 30px;
  }
}

.volunteer__description {
  text-align: justify;
  line-height: 1.6;
  padding: 30px 0;
  font-weight: 300;
}

@media (min-width: 576px) {
  .volunteer__description {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .volunteer__description {
    margin: 200px 30px 0 0;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

.volunteer__img {
  display: none;
}

@media (min-width: 1200px) {
  .volunteer__img {
    height: 100%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0px;
  }
}

.volunteer__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  width: 60px;
  height: 30px;
  font-weight: lighter;
  position: relative;
}

.volunteer__button::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2E2A2C;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.volunteer__button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.volunteer__link {
  text-decoration: none;
  color: #2E2A2C;
}

.volunteer__link:hover {
  color: #2E2A2C;
}
/*# sourceMappingURL=main.css.map */